.chat{
    flex: 0.7;
    flex-grow: 1;
    overflow-x:hidden;
    overflow-y:scroll;
    padding-bottom:150px;
}

.chat__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid lightgrey;
}
.chat__left > h4{
    display: flex;
}
.chat__left > h4 >.MuiSvgIcon-root{
    font-size: 16px;
    margin-left: 5px;
}

.chat__right > p{
    display: flex;
    align-items: center;
    font-size: 14px;

}

.chat__right > p> .MuiSvgIcon-root {
    font-size: 16px;
    margin-right:5px;
}
